Teruati/config.py
Teruati/*.session
Teruati/*.session-journal
Teruati/config.ini
*.pyc
.project
.pydevproject
.directory
Teruati/modules/helper_funcs/temp.txt
start-3.6.bat
*.session
kangsticker.png
venv
env
Teruati.session-journal
*.exe
*.png
env/
*.session-journal
config.ini
*.session-journal
*.log
shell_output.txt
.vs
Teruati/elevated_users.json
